@use '../abstract/mixins';

.btn {
    @include mixins.btn;
    transition: 500ms;
    font-weight: 600;

    &-primary {
        // background-color: rgb(5, 170, 148);
        @include mixins.btn(rgb(5, 170, 148));
    }

    &-success {
        // background-color: rgb(2, 77, 2);
        @include mixins.btn(rgb(2, 77, 2))
    }

    &-danger {
        background-color: rgb(255, 0, 0);
    }

    &-nutral {
        background-color: transparent;
    }
}